html,
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        
        div {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            /* Firefox */
            -webkit-box-sizing: border-box;
            /* Safari */
        }
        
        .self-nav-btn {
            position: fixed;
            left: 0;
            bottom: 0.5px;
            display: flex;
            width: 100%;
        }
        
        .self-nav-btn button {
            display: block;
            border-left: none;
            border-right: none;
            flex: 1;
        }
        
        .details-1 {
            height: calc(100% - 54px);
            overflow-x: hidden;
            overflow-y: auto;
        }
        @media screen and (max-width: 350px) {
            .btn-font {
                display: none
            }
            .details {
                height: calc(100% - 34px);
            }
        }
        .self-group-search{
            padding: 0 0.1rem;
        }
        #swiper-container-2{
            position: relative;
        }
        #swiper-container-2 .swiper-pagination{
            bottom: 0.5rem;
        }
        .self-title{
            font-size: 0.3rem;
            text-align: center;
            margin: 0.1rem 0;
        }
        #firstPage_label_list li {
            float: left;
            width: 25%;
            height: calc(100% - 6px);
            border-left: 1px solid #fff;
            color: #fff;
            margin: 3px 0px;
            text-align: center;
            background-color: #1f1f1f;
        }
        .self-img-full{
            width: 50%;
            height: 60%;
        }
        #firstPage_label_list li:first{
            border-left: none;
        }
        #firstPage_label_list {
            list-style: none;
            height: 1.4rem;
            margin: 0;
            padding: 0;
            width: 100%;
        }